/* Base CSS */
body, html {
	height: 100%;
	background-color: #F0F0FE;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 1rem;
	overflow: hidden;
	position: relative;
	margin-right: 0 !important;
	margin: 0;
}

a {
	transition: .4s ease;
	outline: none !important;
	color: #2f2e40;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

h1 {
	font-size: 5rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.125rem;
	font-weight: bold;
}

h5 {
	font-size: .875rem;
}

p {
	opacity: 1;
}

img {
	max-width: 100%;
}

section {
	margin-bottom: 2.5rem;
}

/* Background Wrapper for Sketch.js */
.background-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

/* Main Title */
.page-title {
	font-size: 5.625rem;
}

#background-content {
	height: 100%;
	width: 100%;
}

/* Content Wrapper */
.content-wrapper {
	display: table;
	height: 100%;
	width: 100%;
	position: absolute;
}

.content-wrapper .content-main {
	text-align: center;
	z-index: 1;
	pointer-events: none;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.content-wrapper .content-main h1 {
	margin-bottom: 2.5rem;
}

.content-wrapper .content-main h2 {
	margin-top: 1.25rem;
	margin-bottom: 2.5rem;
}

.content-wrapper .content-main .container {
	z-index: 1;
	position: relative;
}

/* Animation */
.animate {
	transition: .6s;
	opacity: 0;
	transform: scale(.98);
}

.animate.idle {
	opacity: 1;
	transform: scale(1);
}

/* Header */
.page-wrapper header {
	position: fixed;
	z-index: 9;
	padding: 1.875rem;
	display: table;
	width: 100%;
	pointer-events: none;
}

.page-wrapper header .logo {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.page-wrapper header .logo a {
	display: block;
	width: 20vh;
	height: auto;
}

.page-wrapper header .logo a img {
	width: 100%;
	height: auto;
}

/* Footer */
footer {
	position: absolute;
	bottom: .625rem;
	text-align: center;
	width: 100%;
}

footer .social-icons a {
	opacity: .5;
	color: #2f2e40;
	padding: .3125rem .625rem;
	display: inline-block;
	font-size: 1.125rem;
}

footer .social-icons a:hover {
	opacity: 1;
}

/* Modal */
.modal {
	text-align: center;
}

.modal.fade .modal-dialog {
	transform: translate(0, 0) scale(.95);
}

.modal.fade.in .modal-dialog {
	transform: translate(0, 0) scale(1);
}

.modal-dialog {
	width: auto;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	max-width: 100%;
	border-radius: 20px;
}

.modal-dialog .modal-content {
	border-radius: 20px;
	border: none;
}

.modal-dialog .modal-content h2 {
	font-size: 2.25rem;
	font-weight: bold;
}

.modal-dialog .modal-content h3 {
	font-size: 1.5rem;
	margin-bottom: 1.875rem;
}

.modal-dialog .modal-content .modal-header {
	border-bottom: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 4.0625rem 2.8125rem;
	background-color: #F0F0FE;
}

.modal-dialog .modal-content .modal-header .close {
	opacity: 1;
	background-color: #fff;
	padding: .625rem .875rem;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: .875rem;
	margin-right: .875rem;
	border-radius: 100%;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
}

.modal-dialog .modal-content .modal-body {
	padding: 2.1875rem 2.8125rem;
}

.page-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

/* Person */
.person h4 {
	margin-bottom: .3125rem;
}

.person h5 {
	margin-top: .3125rem;
}

.person .image {
	border-radius: 100%;
	height: 7.5rem;
	width: 7.5rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: inline-block;
}

.social-icons a {
	color: #2f2e40;
	padding: .3125rem;
	display: inline-block;
}

/* Card */
.card {
	float: left;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 2rem;
}
.card .wrapper {
	background-color: #F0F0FE;
	height: 240px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
	transform: translateY(0);
}
.card .data {
	position: absolute;
	bottom: 0;
	height: 240px;
	transform: translateY(130px);
	transition: transform 0.3s;
}
.card .data .content {
	padding: 1.5em;
	position: relative;
	z-index: 1;
	background-color: #F0F0FE;
	height: 240px;
	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
	overflow-y: scroll;
	scrollbar-width: none;
}
.card .data .content::-webkit-scrollbar {
	display: none;
}
.card .type {
	font-size: 12px;
}
.card .title {
	margin-top: 10px;
	color: #2f2e40;
	font-weight: 700;
}
.card .text {
	height: auto;
	margin: 0;
}
.card input[type=checkbox] {
	display: none;
}
.card input[type=checkbox]:checked + .menu-content {
	transform: translateY(-100%);
}
.card .menu-button {
	position: absolute;
	z-index: 999;
	top: 18px;
	right: 16px;
	width: 30px;
	text-align: center;
	cursor: pointer;
}
.card .menu-button span {
	width: 4px;
	height: 4px;
	background-color: #2f2e40;
	color: #2f2e40;
	position: relative;
	display: inline-block;
	border-radius: 100%;
}
.card .menu-button span::after, .card .menu-button span::before {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	background-color: currentColor;
	position: absolute;
	border-radius: 100%;
}
.card .menu-button span::before {
	left: -8px;
}
.card .menu-button span::after {
	right: -8px;
}
.card .wrapper {
	border-radius: 0.5rem;
}

.project1 .wrapper {
	background: url("../img/project1.jpg") no-repeat;
	background-size: cover;
}

.project2 .wrapper {
	background: url("../img/project2.jpg") no-repeat;
	background-size: cover;
}

.project3 .wrapper {
	background: url("../img/project3.jpg") no-repeat;
	background-size: cover;
}

/* Nav Toggle */
.nav-tgl {
	display: inline-block;
	cursor: pointer;
	position: fixed;
	z-index: 200;
	right: 30px;
	top: 30px;
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;
	padding: 0;
	background: #fff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
	line-height: 0.6;
	text-align: center;
}
.nav-tgl > span {
	display: inline-block;
	position: relative;
	height: 2px;
	width: 34px;
	border-radius: 1px;
	background: #293335;
	vertical-align: middle;
}
.nav-tgl > span:before, .nav-tgl > span:after {
	display: inline-block;
	position: absolute;
	content: "";
	height: 2px;
	border-radius: 1px;
	background: #293335;
	transition: all 200ms;
}
.nav-tgl > span:before {
	top: -11px;
	left: 3px;
	width: 28px;
}
.nav-tgl > span:after {
	top: 11px;
	left: 6px;
	width: 22px;
}
.nav-tgl:focus {
	outline: none;
}
.nav-tgl:hover > span:after, .nav-tgl:hover > span:before {
	width: 34px;
	left: 0;
}

/* Nav */
.nav {
	display: block;
	z-index: 199;
	position: relative;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	transition: all 500ms ease-in-out;
	clip-path: circle(30px at calc(100% - 65px) 65px);
	visibility: hidden;
	justify-content: center;
	align-self: center;
	align-content: center;
	align-items: center;
}

.nav-content {
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.nav-content a {
	padding: 50;
	vertical-align: middle;
}

.nav-link {
	color:#FFFFFF;
	font-size: 2.5rem;
	font-weight: bold;
	opacity: .8;
}

.nav-link:hover {
	opacity: 1;
}

.nav .header {
	position: fixed;
	z-index: 9;
	padding: 1.875rem;
	display: table;
	width: 100%;
	pointer-events: none;
}

.nav .header .logo {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.nav .header .logo a {
	opacity: .7;
	display: block;
	width: 20vh;
	height: auto;
}

.nav .header .logo a:hover {
	opacity: 1;
}

.nav .header .logo a img {
	width: 100%;
	height: auto;
}

.nav .footer{
	position: fixed;
	bottom: .625rem;
	text-align: center;
	width: 100%;
	z-index: 200;
}

.nav .footer .social-icons a {
	opacity: .7;
	color: #FFFFFF;
	padding: .3125rem .625rem;
	display: inline-block;
	font-size: 1.125rem;
}

.nav .footer .social-icons a:hover {
	opacity: 1;
}

/* Menu */
.menu {
	z-index: 100;
}

.menu.active .nav {
	visibility: visible;
	clip-path: circle(100%);
}
.menu.active .nav-tgl > span {
	height: 0;
}
.menu.active .nav-tgl > span:after, .menu.active .nav-tgl > span:before {
	top: 0px;
	left: 0;
	width: 34px;
}
.menu.active .nav-tgl > span:after {
	transform: rotate(-45deg);
}
.menu.active .nav-tgl > span:before {
	transform: rotate(45deg);
}

/* Media Queries */
@media (max-width: 480px) {
	.page-title {
		font-size: 4rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	.nav-link {
		font-size: 1.8rem;
	}
	.nav-tgl {
		width: 60px;
		height: 60px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.page-title {
		font-size: 5rem;
	}
	h2 {
		font-size: 1.4rem;
	}
	.nav-link {
		font-size: 2.2rem;
	}
	.nav-tgl {
		width: 65px;
		height: 65px;
	}
}

@media screen and (min-width: 48rem) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

@media (min-height: 334px) and (max-height: 500px) {
	.page-title {
		font-size: 4rem;
	}
	h2 {
		font-size: 1rem;
	}
	.nav-link {
		font-size: 1.5rem;
	}
	.nav-tgl {
		width: 60px;
		height: 60px;
	}
	footer .social-icons a {
		font-size: 1rem;
	}
	.nav .footer .social-icons a {
		font-size: 1rem;
	}
	.nav-content {
		top: 45%;
	}
	.nav-content a {
		padding: 30;
	}
}



@media (min-height: 300px) and (max-height: 333px) {
	.page-title {
		font-size: 3rem;
	}
	h2 {
		font-size: 1rem;
	}
	.nav-link {
		font-size: 1rem;
	}
	.nav-tgl {
		width: 60px;
		height: 60px;
	}
	footer .social-icons a {
		font-size: 0.75rem;
	}
	.nav .footer .social-icons a {
		font-size: 0.75rem;
	}
	.nav-content {
		top: 40%;
	}
	.nav-content a {
		padding: 20;
	}
}

@media (max-height: 299px) {
	.page-title {
		font-size: 3rem;
	}
	h2 {
		font-size: 1rem;
	}
	.nav-link {
		font-size: 0.75rem;
	}
	.nav-tgl {
		width: 60px;
		height: 60px;
	}
	footer .social-icons a {
		font-size: 0.75rem;
	}
	.nav .footer .social-icons a {
		font-size: 0.75rem;
	}
	.nav-content {
		top: 35%;
	}
	.nav-content a {
		padding: 10;
	}
}
